* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body{
    overflow-x:hidden;
}

.nav {
    height: 80px;
    background-color: rgb(152, 152, 152);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 70px;
    width: 100px;
}

.logo {
    background-image: url(img/dukaanvale_logo.png);
    width: 100px;
    height: 70px;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.addfirst {
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}

.addsecond {
    font-size: 1rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    max-width: 650px;
    height: 40px;
    background: #000;
    border-radius: 3px;
}

.all {
    text-align: center;
}

option {
    text-align: left;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(83, 0, 128);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.nav-search:hover {
    border: 3px solid rgb(83, 0, 128);
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 35px;
}

.nav-cart {
    font-size: 0.85rem;
    font-size: 700;
}

.panel {
    height: 40px;
    background-color: rgb(83, 0, 128);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    display:none;
}

.panel-all:hover{
    color: #bea5e7;
    box-shadow: 0 8px 20px rgb(114, 114, 114);
}

.panel-ops span,
.panel-ops a{
    text-decoration: none;
    color: white;
    display: inline;
    margin: 6px;
    font-size: 15px;
}


.panel-ops span:hover{
    color: rgb(255, 127, 246);
    font-size: 17px;
}

.panel-vouchers {
    display: flex;
    font-size: 2rem;

    align-items: center;
}

.panel-vouchers p {
    font-size: 10px;
    font-weight: 100;
}

.panel-vouchers:hover {
    color: aqua;
}

.hero-section{
    background-image: url(img/shop.jpg);
    margin: 5px;
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    width: 85%;
    border: 2px solid rgb(83, 0, 128);
    background-color: rgba(197, 122, 176, 0.795);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-bottom: 20px;
    border-radius: 4px;
}

.hero-msg p {
    margin: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
    margin: 15px;
    height: 400px;
    width: 20%;
    background-color: rgb(109, 61, 141);
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(218, 218, 218, 0.1);
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #cccccc;
    padding: 20px 0px 15px;
}

.box-img {
    height: 300px;
    ;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-top: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}

.sidebar{
    position: fixed;
    top:0;
    left:-280px;
    width:260px;
    height:100%;
    background:#cccccc;
    transition:0.3s;
    z-index:1000;
    box-shadow:2px 0 10px rgba(0,0,0,0.3);
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:20px;
    color:rgb(83,0,128);
}

.sidebar a{
    display:block;
    padding:15px 20px;
    text-decoration:none;
    color:#333;
    font-size:18px;
}

.sidebar a:hover{
    background:#ececec;
}

.sidebar.active{
    left:0;
}

#menu-btn{
    cursor:pointer;
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.close-btn:hover{
    color: rgb(112, 112, 112);
}
footer{
    margin-top:100px;
    background:#1F2937;
    color:white;
}

.footer-container{
    max-width:1400px;
    margin:auto;
    padding:70px 40px;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
}

.footer-col h3{
    margin-bottom:20px;
}

.footer-col a{
    display:block;
    margin-bottom:12px;
    color:#d1d5db;
    transition:.3s;
}

.footer-col a:hover{
    color:#EC4899;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#374151;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
}

.social-icons a:hover{
    background:#ec489a87;
}

.copyright{
    border-top:1px solid rgba(255,255,255,.1);
    padding:20px;
    text-align:center;
    color:#d1d5db;
}
hr {
    border: 0;
    background: rgba(0, 128, 0, 0.767);
    height: 1.2px;
    margin: 4px 0px;
    width: 85%;
}
.fresh{
    color: green;
    border-top: 4px solid green; 
    width: 100%;
    margin: 4px 8px 0px;
}
.hero-section-grocery {
    background-color: #EAEDED;
    background-image: url(img/groceryHero.png);
    margin: 5px;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.hero-msg-grocery {
    width: 85%;
    border: 2px solid rgb(83, 0, 128);
    background-color: rgba(146, 197, 122, 0.795);
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-bottom: 5px;
    border-radius: 4px;
}
.category-section{
    width:90%;
    margin:40px auto;
}

.category-section h2{
    font-size:28px;
    color:#4B0082;
    margin-bottom:25px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
    gap:25px;
}

.category-card{
    text-align:center;
    cursor:pointer;
    transition:.3s;
}

.category-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    background:#EAF8D7;
    padding:8px;
    transition:.3s;
}

.category-card p{
    margin-top:10px;
    font-size:14px;
    color:#333;
    font-weight:600;
}

.category-card:hover{
    transform:translateY(-8px);
}

.category-card:hover img{
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transform:scale(1.08);
}
.products{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}

.product-card{

background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.08);
position:relative;
transition:.3s;

}

.product-card:hover{

transform:translateY(-8px);

}

.discount{

position:absolute;
top:15px;
left:15px;
background:#ecd948;
color:white;
padding:6px 14px;
border-radius:20px;
font-size:13px;
font-weight:bold;

}

.product-card img{

width:100%;
height:220px;
object-fit:contain;
padding:20px;

}

.product-card h3{

padding:0 18px;
font-size:24px;
margin-bottom:12px;

}

.rating{

color:#f59e0b;
padding:0 18px;
margin-bottom:15px;

}

.price{

padding:0 18px;
margin-bottom:20px;

}

.new-price{

font-size:32px;
font-weight:700;
color:#d94228;

}

.old-price{

margin-left:10px;
text-decoration:line-through;
color:gray;

}

.cart-btn{

width:calc(100% - 30px);
margin:15px;
padding:14px;
border:none;
border-radius:40px;
background:linear-gradient(90deg,#d99528,#209f0f);
color:white;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;

}

.cart-btn:hover{

transform:scale(1.03);

}
.colthing{
    color: rgb(128, 49, 0);
    border-top: 10px solid rgb(128, 41, 0); 
    width: 100%;
    margin: 4px 8px 0px;
}
.hero-section-cloths{
    background-color: #EAEDED;
    background-image: url(img/cloths.png);
    margin: 5px;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.hero-msg-cloths{
    width: 85%;
    border: 2px solid rgb(83, 0, 128);
    background-color: rgba(247, 161, 75, 0.795);
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-bottom: 5px;
    border-radius: 4px;
}
/* =======================================
   CART PAGE
======================================= */

.cart-heading{

    text-align:center;
    padding:40px 20px;

}

.cart-heading h1{

    font-size:38px;
    color:#5b21b6;
    margin-bottom:10px;

}

.cart-heading p{

    color:#666;
    font-size:17px;

}

/* ======================= */

.cart-container{

    width:90%;
    max-width:1400px;
    margin:auto;

    display:flex;
    gap:30px;

    align-items:flex-start;

    padding:30px 0 60px;

}

/* ======================= */

.cart-items{

    flex:3;

}

/* ======================= */

.cart-card{

    background:#fff;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    display:flex;

    align-items:center;

    gap:25px;

    padding:20px;

    margin-bottom:20px;

    transition:.3s;

}

.cart-card:hover{

    transform:translateY(-4px);

}

/* ======================= */

.cart-card img{

    width:140px;

    height:140px;

    object-fit:contain;

}

/* ======================= */

.cart-info{

    flex:1;

}

.cart-info h3{

    font-size:22px;

    margin-bottom:10px;

    color:#222;

}

.cart-info p{

    color:#7c3aed;

    margin-bottom:10px;

}

.cart-price{

    font-size:22px;

    font-weight:bold;

    color:#111;

}

.cart-price span{

    margin-left:10px;

    color:#888;

    text-decoration:line-through;

    font-size:17px;

}
/* =======================
   QUANTITY
======================= */

.cart-quantity{

    display:flex;
    align-items:center;
    gap:12px;

}

.cart-quantity button{

    width:38px;
    height:38px;

    border:none;

    border-radius:10px;

    background:#7c3aed;

    color:#fff;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

.cart-quantity button:hover{

    background:#5b21b6;

}

.cart-quantity span{

    font-size:18px;
    font-weight:bold;
    min-width:20px;
    text-align:center;

}

/* =======================
   REMOVE BUTTON
======================= */

.remove-btn{

    background:#ef4444;
    color:#fff;

    border:none;

    width:45px;
    height:45px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.remove-btn:hover{

    background:#dc2626;
}

/* =======================
   ORDER SUMMARY
======================= */

.cart-summary{

    flex:1;

    background:#fff;

    border-radius:18px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    position:sticky;

    top:20px;

}

.cart-summary h2{

    margin-bottom:25px;

    color:#5b21b6;

}

.summary-row{

    display:flex;

    justify-content:space-between;

    margin:18px 0;

    font-size:17px;

}

.total{

    font-size:22px;

    font-weight:bold;

    border-top:1px solid #ddd;

    padding-top:18px;

}

/* =======================
   CHECKOUT BUTTON
======================= */

.checkout-btn{    
    width:250px;
    height:50px;
    display:block;
    margin:20px auto 0;
    border:none;
    border-radius:12px;
    background:#7c3aed;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.checkout-btn:hover{

    background:#5b21b6;

    transform:translateY(-2px);

}

/* =======================
   EMPTY CART
======================= */
#empty-cart{
    display:none;
    min-height:60vh;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:15px;
}

#empty-cart h2{

    font-size:35px;

    color:#5b21b6;

    margin-bottom:15px;

}

#empty-cart p{

    color:#666;

    margin-bottom:25px;

    font-size:18px;

}
#empty-cart a{
    text-decoration: none;
}

#empty-cart .checkout-btn{
    width: 250px;
    margin-top: 10px;
}
/* =======================
   RESPONSIVE
======================= */

@media(max-width:900px){

    .cart-container{

        flex-direction:column;

    }

    .cart-summary{

        width:100%;

        position:static;

    }

}

@media(max-width:650px){

    .cart-card{

        flex-direction:column;

        text-align:center;

    }

    .cart-card img{

        width:170px;
        height:170px;

    }

    .cart-quantity{

        margin:15px 0;

    }

}
.wishlist-btn{

    width:25px;
    height:45px;

    border:none;

    border-radius:12px;

    background:#ffffff;

    color:#e11d48;

    cursor:pointer;

    font-size:18px;

    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.wishlist-btn:hover{

    background:#ff1414;

    color:white;

}

#wishlist-count{

    background:#7f1de1;

    color:#fff;

    border-radius:50%;

    min-width:20px;
    height:20px;

    display:inline-flex;
    align-items:center;
    justify-content:center;

    font-size:12px;

    margin-left:5px;

}
/* ================= CONTACT PAGE ================= */

.contact-section{

width:90%;
margin:50px auto;
text-align:center;

}


.contact-section h1{

font-size:40px;
color:#5b21b6;

}


.contact-section>p{

color:#666;
margin:15px;

}



.contact-container{

display:flex;
justify-content:center;
gap:30px;
margin:40px 0;
}



.contact-card{

width:250px;
padding:30px;

background:white;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.contact-card i{

font-size:35px;
color:#7c3aed;

margin-bottom:15px;

}



.contact-form{

max-width:600px;

margin:auto;

display:flex;

flex-direction:column;

gap:15px;

}

.cart{
    color:  #000;
}

.contact-form input,
.contact-form textarea{

padding:15px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}



.contact-form textarea{

height:120px;

resize:none;

}



.contact-form button{

padding:15px;

border:none;

border-radius:30px;

background:#7c3aed;

color:white;

font-size:18px;

cursor:pointer;

}



.contact-form button:hover{

background:#5b21b6;

}

.hero-section-electronics {
    background-color: #EAEDED;
    background-image: url(img/elec.jpg);
    margin: 5px;
    height: 550px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.hero-msg-electronics {
    width: 85%;
    border: 2px solid rgb(83, 0, 128);
    background-color: rgba(138, 239, 255, 0.795);
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-bottom: 5px;
    border-radius: 4px;
}
.electronics{
    color: rgb(0, 0, 128);
    border-top: 4px solid rgb(0, 30, 128); 
    width: 100%;
    margin: 4px 8px 0px;
}

@media (max-width:768px){

    .panel-all{
        display:block;
        font-size:28px;
        cursor:pointer;
    }

    .panel-ops{
        display:none;
    }

    .panel-vouchers{
        display:none;
    }

    .panel{
        justify-content:flex-start;
        align-items:center;
        padding:10px 15px;
        height:50px;
    }
}
@media(max-width:768px){

.nav{
    display:grid;
    grid-template-columns:1fr auto auto;
    grid-template-areas:
    "logo cart wish"
    "search search search";

    height:auto;
    padding:10px;
    gap:10px;
}

.nav-logo{
    grid-area:logo;
}

.nav-search{
    grid-area:search;
    width:100%;
}

.nav-cart:nth-last-child(2){
    grid-area:cart;
}

.nav-cart:last-child{
    grid-area:wish;
}

.nav-address,
.nav-return{
    display:none;
}

.nav-cart{

    font-size:14px;
    display:flex;
    align-items:center;
}

.nav-cart i{

    font-size:22px;

}
}
@media (max-width:768px){

.hero-section,
.hero-section-cloths,
.hero-section-grocery,
.hero-section-electronics{

    height:180px;
    background-size:cover;
    background-position:center;
    margin:0;
}

}

@media (max-width:768px){

.product-card img{

    height:170px;
    padding:15px;
}

}

@media (max-width:480px){

.product-card img{

    height:150px;
}

}

@media (max-width:768px){

.hero-msg,
.hero-msg-cloths,
.hero-msg-grocery,
.hero-msg-electronics{

    width:85%;
    font-size:8px;
    height: 15px;
    padding:8px 10px;
}

}

@media (max-width:768px){

.nav{

    justify-content:space-between;
    padding:12px;
}

.nav-search{

    width:100%;
    order:3;
}

}

@media (max-width:768px){

.product-card{

    max-width:320px;
    margin:auto;
}

}

@media (max-width:768px){

.footer-container{

    padding:40px 20px;
    gap:25px;
}

}

@media (max-width:768px){

.contact-section{
    width:95%;
    margin:30px auto;
}

.contact-section h1{
    font-size:30px;
}

.contact-section > p{
    font-size:14px;
    margin:10px 0 25px;
}

.contact-container{
    gap:15px;
}

.contact-card{
    width:100%;
    max-width:320px;
    padding:20px;
    border-radius:15px;
}

.contact-card i{
    font-size:28px;
    margin-bottom:10px;
}

.contact-card h3{
    font-size:18px;
    margin-bottom:8px;
}

.contact-card p{
    font-size:7px;
    line-height:1.5;
    word-break:break-word;
}

.contact-form{
    width:100%;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    font-size:14px;
}

.contact-form textarea{
    height:100px;
}

.contact-form button{
    padding:12px;
    font-size:16px;
}

}


/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width:480px){

.contact-section h1{
    font-size:26px;
}

.contact-section > p{
    font-size:12px;
}

.contact-card{
    padding:15px;
}

.contact-card i{
    font-size:24px;
}

.contact-card h3{
    font-size:16px;
}

.contact-card p{
    font-size:12px;
}

.contact-form input,
.contact-form textarea{
    font-size:13px;
    padding:10px;
}

.contact-form button{
    font-size:15px;
    padding:11px;
}

}
/* ==========================
   CUSTOM SCROLLBAR
========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#f3f4f6;
    border-radius:20px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #8b5cf6,
        #7c3aed,
        #5b21b6
    );
    border-radius:20px;
    border:2px solid #f3f4f6;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        180deg,
        #a855f7,
        #9333ea,
        #6d28d9
    );
}

::-webkit-scrollbar-corner{
    background:#f3f4f6;
}
.nav-cart a{
    color: white;
}

.nav-cart a:hover{
    color: rgb(78, 15, 121);
}
